main .form .input-text {
    width: 550px;
    /*margin-bottom: 20px;*/
    box-shadow: 1px 3px 5px #C0C0C0;
    border-radius: 9px;
}

main .form .input-text input {
    /*line-height: 2.1;*/
}

main .form .btn-encoder, .btn-decoder {
    margin-left: 20px;
    width: 150px; /* Замените 150px на желаемую ширину */
}

main .form .terminal {
    margin-top: 10px;
    box-shadow: 6px 4px 9px #C0C0C0;
    width: 750px;
}
